<form action = '/links' method = 'GET'>
  <input type = 'text' name = 'username' placeholder = 'GitHub Username'>
  <input type = 'password'name = 'password' placeholder = 'GitHub Password'>
  <input type = 'text' name = 'link' placeholder = 'GitHub URL'>
  <input type = 'submit' value = 'Check Links'>
</form>
<ul></ul>
